<p>
    {{ _("Dear student,") }}
</p>
<p>
    {{ _("This is to share that you have been able to complete up to about 30% of the course sessions shared through the ES-LMS so far. We hope that you have enjoyed this, and it has been a productive learning experience for you.") }}
</p>
<p>
    {{ _("While this is a self-paced course and you may progress as per your convenience, we urge you to invest more time to catch up with the remaining sessions. This will help you stay with the cohort for the online hangout sessions of faculty interactions, and complete the course in time.") }}
</p>
<p>
    {{ _("Please get in touch with us, in case you are facing any difficulties and have any queries.") }}
</p>
<br>
<p>
    {{ _("Thanks and regards,") }}
    <br>
    {{ _("Team ES.") }}
</p>
